* {
    box-sizing: border-box
}

.column {
    float: left;
    width: 150 px;
    padding: 0 10px
}

.row {
    margin: 0 -5px;
    margin-bottom: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    padding: 16px;
    text-align: center;
    background-color: darkgrey
}